body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
.chatOverFlow{
    height:400px;
    overflow:scroll;
    overflow-x: hidden;
}
.userListItem{
cursor:pointer;
}
